<!--
created: 4688442
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete Activity</h1>
<hr>
<h1>Do you really want to delete the activity</h1>
<form enctype="multipart/form-data" action="/ExecuteDeleteActivity" method="post">
    <input type="submit" value="Yes">
    <input type="hidden" name="fileName" value="{{.FileName}}">
    <input type="hidden" name="jsonFileName" value="{{.JsonFileName}}">
</form>
<form enctype="multipart/form-data" action="/CancelDeleteActivity" method="post">
    <input type="submit" value="No">
    <input type="hidden" name="jsonFileName" value="{{.JsonFileName}}">
</form>
</body>
</html>