<!--
created: 4688442
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Activity</h1>
<hr>
<form enctype="multipart/form-data" action="/ExecuteEditActivity" method="post">
    <label>Choose your activity
        <select name="activity">
            <option value="0">Jogging</option>
            <option value="1">Biking</option>
            <option value="2">Walking</option>
            <option value="3">Hiking</option>
        </select>
    </label><br/>
    <label>Enter your comment</label><br/>
    <input type="text" name="comment" size="100" maxlength="250" value="{{.Comment}}"><br/>
    <input type="submit" value="Process">
    <input type="hidden" name="fileName" value="{{.FileName}}">
    <input type="hidden" name="jsonFileName" value="{{.JsonFileName}}">
</form>
</body>
</html>