<!--
created: 1100592 ; 4688442
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="log-form">
    <h2>Welcom to Go-Strava!</h2>
    <h3>Collect and process your data now:</h3>

    <hr>
    <form enctype="multipart/form-data" action="/UploadGpx" method="post">
        <label>Choose your activity
        <select name="activity">
                <option value="0">Jogging</option>
                <option value="1">Biking</option>
                <option value="2">Walking</option>
                <option value="3">Hiking</option>
            </select>
        </label><br/>
        <br/>
        <label>Enter your gpx-file(s) (*.gpx | *.zip)</label><br/>
        <input type="file" name="gpxFile" size="100"><br/>
        <br/>
        <label>Enter your comment</label><br/>
        <input type="text" name="comment" size="100" maxlength="250"><br/>
        <input type="submit" value="Process">
    </form>

    <h2>All activities</h2>
    <form enctype="multipart/form-data" action="/SearchActivity" method="post">
        <label>Search in comment:</label><br/>
        <input type="text" name="searchText" size="100" maxlength="250"><br/>
        <input type="submit" value="Process"><br/><br/>
    </form>
    <table border="1">
        <tr>
            <th>Activity</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration (min)</th>
            <th>Duration of all standings (min)</th>
            <th>Distance (km)</th>
            <th>Average Speed (km/h)</th>
            <th>Max Speed (km/h)</th>
            <th>Comment</th>
            <th>Plausible</th>
            <th>Actions</th>
        </tr>
        {{range .}}
            <tr>
                <td>{{.Activity}}</td>
                <td>{{.Start}}</td>
                <td>{{.End}}</td>
                <td>{{.Duration}}</td>
                <td>{{.DurationStandings}}</td>
                <td>{{.Distance}}</td>
                <td>{{.AvgSpeed}}</td>
                <td>{{.MaxSpeed}}</td>
                <td>{{.Comment}}</td>
                <td>{{.PlausibleActivity}}</td>
                <td>
                    <form enctype="multipart/form-data" action="/EditActivity" method="post">
                        <input type="submit" value="Edit">
                        <input type="hidden" name="fileName" value="{{.JsonFileName}}">
                    </form>
                    <form enctype="multipart/form-data" action="/DeleteActivity" method="post">
                        <input type="submit" value="Delete">
                        <input type="hidden" name="fileName" value="{{.FileName}}">
                        <input type="hidden" name="jsonFileName" value="{{.JsonFileName}}">
                    </form>
                    <form enctype="multipart/form-data" action="/DownloadActivity" method="post">
                        <input type="submit" value="Download">
                        <input type="hidden" name="fileName" value="{{.FileName}}">
                    </form>
                </td>
            </tr>
        {{end}}
    </table>
    <br/>
    <form method="post" action="/logout">
        <button type="submit">Logout</button>
    </form>
</div>
</body>
</html>